<!-- CORE : begin -->
    <div id="core" class="page-search-results">

      <!-- PAGE HEADER : begin -->
      <div class="page-header">
        <div class="container">
          <div class="page-header-inner clearfix">
            <h1>Explore - <%= @listings.count %> Adventures</h1>
          </div>
        </div>
      </div>
      <!-- PAGE HEADER : end -->

      <!-- MAIN WRAPPER : begin -->
      <div class="main-wrapper-container">
        <div class="container">
          <div id="main-wrapper">
            <div class="row">
              <div class="col-md-8 col-md-push-4">

                <!-- PROPERTIES LISTING : begin -->
                <div class="properties-listing">

                  <!-- PROPERTIES LISTING HEADER : begin -->
                  <div class="properties-listing-header clearfix">

                    <!-- LIST SORTING : begin -->
                    <div class="list-sorting">
                      <form class="default-form" action="index.html">
                        <h5>Sort By</h5>
                        <span class="select-box">
                          <select name="sort-alphabetical">
                            <option value="asc">A to Z</option>
                            <option value="desc">Z to A</option>
                          </select>
                        </span>
                        <span class="select-box">
                          <select name="sort-rating">
                            <option value="asc">Rating &uarr;</option>
                            <option value="desc">Rating &darr;</option>
                          </select>
                        </span>
                        <span class="select-box">
                          <select name="sort-price">
                            <option value="asc">Price &uarr;</option>
                            <option value="desc">Price &darr;</option>
                          </select>
                        </span>
                      </form>
                    </div>
                    <!-- LIST SORTING : end -->


                  </div>
                  <!-- PROPERTIES LISTING HEADER : end -->

                  <!-- PROPERTY LIST : begin -->
                  <ul class="custom-list clearfix property-list layout-grid">

                  <!-- PROPERTY 1 : begin -->  
                  <% @listings.each do | listing | %>
                    
                    <li class="property ">
                      <a href="<%= listing_path(listing) %>" class="property-thumb">
                        <img src="<%= listing.listing_pic_url %>" width="225" height="180" alt="">
                        <span class="overlay"><span><i class="fa fa-search"></i> Scope It Out</span></span>
                      </a>
                      <div class="property-content">
                        <h4 class="property-title"><%= link_to listing.name, listing_path(listing) %></h4>
                        <h5 class="property-location">Sinaloa, Mexico</h5>
                        <p class="property-description"><%= listing.description %> Max <div><%= listing.quantity %> Sportsmen Per Trip</div></p>
                        <div class="property-price-rating">
                          <div class="property-price"><strong>$ <%= listing.rate %></strong> / Sportsman</div>
                          <div class="property-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        </div>
                      </div>
                    </li>
                  <%end%>                   
                  <!-- PROPERTY LISTINGS : end -->

                  </ul>
                  <!-- PROPERTY LIST : end -->

                  <!-- PROPERTIES LISTING FOOTER : begin -->
                  <div class="properties-listing-footer clearfix">
                    <div class="default-form">
                      <span class="select-box links">
                        <select name="listing-pagination">
                          <option value="">Page 1</option>
                          <option value="">Page 2</option>
                          <option value="">Page 3</option>
                        </select>
                      </span>
                    </div>
                  </div>
                  <!-- PROPERTIES LISTING FOOTER : end -->

                </div>
                <!-- PROPERTIES LISTING : end -->

              </div>
              <div class="col-md-4 col-md-pull-8">

                <!-- PROPERTIES SEARCH : begin -->
                <aside class="properties-search">
                  <h3 class="properties-search-title">Search &amp; Filter</h3>

                  <!-- PROPERTIES SEARCH BASIC : begin -->
                  <div class="properties-search-basic">

                    <!-- FORM SWAP : begin -->
                    <form class="default-form" action="index.html" id="properties-search-form-swap">

                      <!-- SEARCH INPUT : begin -->
                      <p class="search-input">
                        <input type="text" placeholder="Where Do You Want To Explore?">
                      </p>
                      <!-- SEARCH INPUT : end -->

                      <!-- ARRIVAL DATE, DEPARTURE DATE : begin -->
                      <p class="form-row clearfix">
                        <span class="calendar-input input-left" title="Arrival">
                          <input type="text" name="arrival" placeholder="Pick A Date" data-dateformat="m/d/y">
                          <i class="fa fa-calendar"></i>
                        </span>
                      </p>
                      <!-- ARRIVAL DATE, DEPARTURE DATE : end -->

                      <!-- NUMBER OF ADULTS AN CHILDREN : begin -->
                      <p class="form-row clearfix">
                        <span class="select-box input-left" title="sportsmen">
                          <select name="sportsmen" data-placeholder="How Many Sportsmen?">
                            <option>Sportsmen</option>
                            <option value="1">1 Sportsman</option>
                            <option value="2">2 Sportsmen</option>
                            <option value="3">3 Sportsmen</option>
                            <option value="4">4 Sportsmen</option>
                            <option value="5">5 Sportsmen</option>
                          </select>
                        </span>
                      </p>
                      <!-- NUMBER OF ADULTS AN CHILDREN : end -->

                      <p class="form-row">
                        <button class="button submit-btn"><i class="fa fa-search"></i> Search</button>
                      </p>

                    </form>
                    <!-- FORM SWAP : begin -->

                   

                  </div>
                  <!-- PROPERTIES SEARCH BASIC : end -->

                  <hr class="form-divider">

                  <!-- PROPERTIES SEARCH FILTER : begin -->
                  <div class="properties-search-filter">
                    <form class="default-form" action="index.html">

                      <h4 class="filter-title">Filter Results</h4>

                      <!-- PRICE FILTER : begin -->
                      <div class="price-filter toggle-container">
                        <h5 class="toggle-title">By Price</h5>
                        <div class="toggle-content">

                          <div class="slider-range-container">
                            <div class="slider-range" data-min="100" data-max="2000" data-step="100" data-default-min="100" data-default-max="500" data-currency="$"></div>
                            <div class="clearfix">
                              <input type="text" class="range-from" value="$ 10">
                              <input type="text" class="range-to" value="$ 500">
                            </div>
                          </div>

                        </div>
                      </div>
                      <!-- PRICE FILTER : end -->

                      <!-- RATING FILTER : begin -->
                      <div class="rating-filter toggle-container closed">
                        <h5 class="toggle-title">By Rating</h5>
                        <div class="toggle-content" style="display: none;">

                          <ul class="custom-list rating-filter-list">
                            <li>
                              <span class="checkbox-input">
                                <input type="checkbox" id="rating-filter-5star" checked="checked">
                                <label for="rating-filter-5star">
                                  <span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                                  <span class="label">5 stars</span>
                                </label>
                              </span>
                            </li>
                            <li>
                              <span class="checkbox-input">
                                <input type="checkbox" id="rating-filter-4star">
                                <label for="rating-filter-4star">
                                  <span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
                                  <span class="label">4 stars</span>
                                </label>
                              </span>
                            </li>
                            <li>
                              <span class="checkbox-input">
                                <input type="checkbox" id="rating-filter-3star">
                                <label for="rating-filter-3star">
                                  <span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
                                  <span class="label">3 stars</span>
                                </label>
                              </span>
                            </li>
                            <li>
                              <span class="checkbox-input">
                                <input type="checkbox" id="rating-filter-2star">
                                <label for="rating-filter-2star">
                                  <span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
                                  <span class="label">2 stars</span>
                                </label>
                              </span>
                            </li>
                            <li>
                              <span class="checkbox-input">
                                <input type="checkbox" id="rating-filter-1star">
                                <label for="rating-filter-1star">
                                  <span class="rating"><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
                                  <span class="label">1 star</span>
                                </label>
                              </span>
                            </li>
                          </ul>

                        </div>
                      </div>
                      <!-- RATING FILTER : end -->

                      <!-- ADDITIONAL FILTER : begin -->
                      <div class="additional-filter toggle-container closed">
                        <h5 class="toggle-title">By Hunt</h5>
                        <div class="toggle-content" style="display: none;">

                          <ul class="custom-list additional-filter-list">
                            <li>
                              <span class="checkbox-input">
                                <input type="checkbox" id="additional-filter-air-conditioning">
                                <label for="additional-filter-air-conditioning">Fish</label>
                              </span>
                            </li>
                            <li>
                              <span class="checkbox-input">
                                <input type="checkbox" id="additional-filter-garden">
                                <label for="additional-filter-garden">Deer</label>
                              </span>
                            </li>
                            <li>
                              <span class="checkbox-input">
                                <input type="checkbox" id="additional-filter-swimming-pool">
                                <label for="additional-filter-swimming-pool">Boar</label>
                              </span>
                            </li>
                            <li>
                              <span class="checkbox-input">
                                <input type="checkbox" id="additional-filter-sea-view">
                                <label for="additional-filter-sea-view">Pheasant</label>
                              </span>
                            </li>
                            <li>
                              <span class="checkbox-input">
                                <input type="checkbox" id="additional-filter-pets-allowed">
                                <label for="additional-filter-pets-allowed">Exotic</label>
                              </span>
                            </li>
                          </ul>

                        </div>
                      </div>
                      <!-- ADDITIONAL FILTER : end -->

                    </form>
                  </div>
                  <!-- PROPERTIES SEARCH FILTER : end -->

                </aside>
                <!-- PROPERTIES SEARCH : end -->

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MAIN WRAPPER : end -->

    </div>
    <!-- CORE : end -->
