<h1>Listing</h1>
<div><%= @listing.name %></div>
<div><%= @listing.quantity %> People Per Trip</div>
<div><%= number_to_currency(@listing.rate) %> Per Person</div>
<h2>Available Timeslots</h2>
<ul>
<% @timeslots.each do | timeslot | %>
  <% if timeslot.booked == false %>
  <li>
    <%= timeslot.date %>
    Booked: <%= timeslot.booked %>
    <%= form_for [@customer, @booking] do |f| %>
      <%= f.hidden_field :timeslot_id, value: timeslot.id %>

      <%= f.select :quantity, [['1 Person', 1], ['2 People', 2], ['3 People', 3], ['4 People', 4], ['5 People', 5]] %> 

      <%= f.submit "Book" %>
    <% end %>
  <% end %>
  </li>
<% end %>
</ul>