<h1>Listing</h1>
<div><%= @listing.name %></div>
<div><%= @listing.quantity %> People Per Trip</div>
<div><%= number_to_currency(@listing.rate) %> Per Person</div>
<h2>Available Timeslots</h2>
<ul>
<% @timeslots.each do | timeslot | %>
  <li>
    <%= timeslot.date %>
    <%= hidden_field_tag :timeslot_id, timeslot.id %>
    
    <%= select_tag(:quantity, options_for_select([['1 Person', 1], ['2 People', 2], ['3 People', 3], ['4 People', 4], ['5 People', 5]]))%> 
    <%= link_to "Book", new_customer_booking_path(@customer) %>
  </li>
<% end %>
</ul>