<div>
  <h2 class="saved_headline"><%= @customer.first_name %>'s Account</h2>
  <%= link_to "Edit My Info", edit_customer_path(@customer), class: "edit-account" %>

<%= form_tag customer_path(@customer), method: "delete", class: "delete-account" do %>
<%= submit_tag("Delete My Account") %>
<% end %>
  <span>
  <ul>
    <li><%= @customer.type %></li>
    <li><%= @customer.user_name %></li>
    <li><%= @customer.profile_pic_url %></li>
  </ul>
  </span> 
</div>

