<!DOCTYPE html>
<html>
<head>
  <title>Tapio</title>
  <!-- Font-Awesome Icons -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <!-- HEADER : begin -->
    <header id="header">
      <div class="container">
        <div class="header-inner clearfix">

          <!-- HEADER BRANDING : begin -->
          <div class="header-branding">
            <a href="/">
              <svg style="fill: rgba(255, 157, 27, 0.59); margin-top: -10px;" x="0px" y="0px" width="100px" height="80px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                <path d="M11.068,34.558c-1.585-2.365-2.595-5.098-2.939-8.106c-0.344,0.092-0.666,0.161-1.033,0.161  c-2.342,0-4.248-1.906-4.248-4.248c0-1.47,0.758-2.756,1.883-3.514l12.147-8.45c2.549-1.562,5.534-2.526,8.749-2.641l30.149,0.092  L77.819,4.34c0-0.115,0-0.229,0-0.345C77.819,1.791,79.586,0,81.791,0c2.205,0,3.996,1.791,3.996,3.995  c0,0.345-0.046,0.712-0.138,1.034l2.043,0.275c2.365,0.459,4.156,2.549,4.156,5.052c0,0.161,0,0.298-0.022,0.436l6.544,3.536  c0.941,0.368,1.63,1.309,1.63,2.388c0,0.367-0.068,0.689-0.206,1.01l-1.631,3.697c-0.804,1.309-2.181,2.228-3.788,2.411  l-15.041,1.791L65.787,41.527l7.738,13.363l5.098,2.365c0.803,0.552,1.354,1.493,1.354,2.549c0,1.699-1.378,3.078-3.101,3.078  l-9.805,0.022c-2.525,0-4.707-1.424-5.809-3.49l-8.382-15.155l-18.92,0.023l6.682,10.287l4.937,2.25  c0.919,0.551,1.516,1.538,1.516,2.664c0,1.699-1.378,3.076-3.077,3.076l-9.828,0.023c-2.388,0-4.5-1.286-5.649-3.215l-9.208-14.627  l-6.429,6.246l-0.528,4.087l2.158,1.423c0.368,0.184,0.689,0.438,0.965,0.758c1.056,1.332,0.872,3.284-0.459,4.34  c-0.574,0.482-1.286,0.713-1.975,0.689l-4.317,0.023c-1.194-0.139-2.273-0.758-2.962-1.677l-5.029-8.68C0.275,51.033,0,50,0,48.898  c0-1.676,0.62-3.215,1.676-4.387L11.068,34.558z"/>
              </svg>
            </a>
          </div>
          <!-- HEADER BRANDING : end -->

          <!-- HEADER NAVBAR : begin -->
          <div class="header-navbar">

            <!-- HEADER SEARCH : begin -->
            <div class="header-search">
              <form class="default-form" action="/listings">

                <!-- SEARCH INPUT : begin -->
                <div class="search-input">
                  <i class="ico fa fa-search"></i>
                  <i class="close fa fa-times"></i>
                  <input type="text">
                </div>
                <!-- SEARCH INPUT : end -->

                <!-- SEARCH ADVANCED : begin -->
                <div class="header-form search-advanced">
                  <div class="search-advanced-inner">

                    <!-- TRIP-PICKER : begin -->
                    <p class="form-row clearfix">
                      <span class="calendar-input input-left" title="Arrival">
                        <input type="text" name="arrival" placeholder="When's Your Trip?" data-dateformat="m/d/y">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </p>
                    <!-- TRIP-PICKER : end -->

                    <!-- AMOUNT OF SPORTSMEN SLECTION : begin -->
                    <p class="form-row clearfix">
                      <span class="select-box input-left" title="Sportsman">
                        <select name="sportsman" data-placeholder="How Many Sportsmen?">
                          <option>Sportsman</option>
                          <option value="1">1 Sportsman</option>
                          <option value="2">2 Sportsmen</option>
                          <option value="3">3 Sportsmen</option>
                          <option value="4">4 Sportsmen</option>
                          <option value="5">5+ Sportsmen</option>
                        </select>
                      </span>
                    </p>
                    <!-- AMOUNT OF SPORTSMEN SLECTION : end -->

                    <!-- TYPE : begin -->
                    <p class="form-row textalign-center radio-inputs">
                      <span class="radio-input">
                        <input id="type_swap" type="radio" name="type" value="swap" checked="checked">
                        <label for="type_fishing">Fish</label>
                      </span>
                      <span class="radio-input">
                        <input id="type_book" type="radio" name="type" value="book">
                        <label for="type_hunting">Hunt</label>
                      </span>
                      <span class="radio-input">
                        <input id="type_book" type="radio" name="type" value="book">
                        <label for="type_hunting">Adventure</label>
                      </span>
                      <span class="radio-input">
                        <input id="type_book" type="radio" name="type" value="book">
                        <label for="type_hunting">All</label>
                      </span>
                    </p>
                    <!-- TYPE : end -->

                    <hr class="form-divider">
                    <p class="form-row">
                      <button class="submit-btn button"><i class="fa fa-search"></i> Search</button>
                    </p>

                  </div>
                </div>
                <!-- SEARCH ADVANCED : end -->

              </form>
            </div>
            <!-- HEADER SEARCH : end -->

            <!-- HEADER MENU : begin -->
            <div class="header-menu">
              <button class="header-btn">Menu <i class="fa fa-angle-down"></i></button>
              <nav class="header-nav">
                <ul>

                  <li><%= link_to "About",   about_path %></li>
        
                 <!-- this is the vendor nav options -->
                 <% if logged_in? && User.find_by(id: session[:user_id]).type == "Vendor" %>
                    <li><%= link_to "Account", vendor_path(session[:user_id]) %></li>
                    <li><%= link_to "Add A Listing", new_vendor_listing_path(Vendor.find_by(id: session[:user_id])) %></li>
                    <li><%= link_to "See Your Listings", vendor_listings_path(Vendor.find_by(id: session[:user_id])) %></li>
                  <% end %>

                  <!-- this is the customer nav options -->
                  <% if logged_in? && User.find_by(id: session[:user_id]).type == "Customer" %>
                    <li><%= link_to "Account", customer_path(session[:user_id]) %></li>
                    <li><%= link_to "Book A Listing", listings_path %></li>
                    <li><%= link_to "See Your Past Bookings", customer_bookings_path(session[:user_id]) %></li>
                  <% end %>
                  
                  <li><%= link_to "Contact", contact_path %></li>

                </ul>
              </nav>
            </div>
            <!-- HEADER MENU : end -->

            <!-- HEADER TOOLS : begin -->
            <div class="header-tools">

              
              <% if logged_in? %>
              <div class="header-login">
                <button class="login-toggle header-btn"><i class="fa fa-power-off"></i> <%= link_to("Log out #{User.find_by(id: session[:user_id]).first_name.capitalize}", "/session", method: "delete") %></button>
              
              <% else %>
                  
              <!-- HEADER REGISTER : begin -->
              <div class="header-register">
                <button class="register-toggle header-btn"><i class="fa fa-plus-circle"></i><a href="/users/new">Register</a></button>
              </div>
              <!-- HEADER REGISTER : end -->

              <!-- HEADER LOGIN : begin -->
              <div class="header-login">
                <button class="login-toggle header-btn"><i class="fa fa-power-off"></i> Login</button>
                <div class="header-form">
                  <%= form_tag "/session", {class: 'default-form'} do %>
                    <p class="alert-message warning"><i class="ico fa fa-exclamation-circle"></i> All fields are required! <i class="fa fa-times close"></i></p>
                    <p class="form-row">
                      <input class="required email"  type="text" placeholder="Email">
                    </p>
                    <p class="form-row">
                      <input class="required password"  type="password" placeholder="Password">
                    </p>
                    <p class="form-row">
                      <button class="submit-btn button"><i class="fa fa-power-off"></i> Login</button>
                    </p>
                  <% end %>
                </div>

              <% end %>
              </div>
              <!-- HEADER LOGIN : end -->
          

            </div>
            <!-- HEADER TOOLS : end -->

          </div>
          <!-- HEADER NAVBAR : end -->

          <!-- SEARCH TOGGLE : begin -->
          <button class="search-toggle button"><i class="fa fa-search"></i></button>
          <!-- SEARCH TOGGLE : end -->

          <!-- NAVBAR TOGGLE : begin -->
          <button class="navbar-toggle button"><i class="fa fa-bars"></i></button>
          <!-- NAVBAR TOGGLE : end -->

        </div>
      </div>
    </header>
    <!-- HEADER : end -->

<%= yield %>

<!-- FOOTER : begin -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">

            <!-- FOOTER TEXT : begin -->
            <p>Copyright 2013 &copy; Tapio. All rights reserved.</p>
            <!-- FOOTER TEXT : end -->

          </div>
          <div class="col-sm-4">

            <!-- FOOTER SOCIAL : begin -->
            <ul class="footer-social custom-list">
              <li><a href="" title="Facebook"><i class="fa fa-facebook-square"></i><span>Facebook</span></a></li>
              <li><a href="" title="Twitter"><i class="fa fa-twitter-square"></i><span>Twitter</span></a></li>
              <li><a href="" title="Google+"><i class="fa fa-google-plus-square"></i><span>Google+</span></a></li>
              <li><a href="" title="LinkedIn"><i class="fa fa-linkedin-square"></i><span>LinkedIn</span></a></li>
              <li><a href="" title="Pinterest"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
            </ul>
            <!-- FOOTER SOCIAL : end -->

          </div>
        </div>
      </div>
    </footer>
    <!-- FOOTER : end -->

</body>
</html>
