<!DOCTYPE html>
<html>
<head>
  <title>Tapio</title>
  <!-- Font-Awesome Icons -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <!-- HEADER : begin -->
    <header id="header">
      <div class="container">
        <div class="header-inner clearfix">

          <!-- HEADER BRANDING : begin -->
          <div class="header-branding">
            <a href="/"><em>Tapio</em></a>
          </div>
          <!-- HEADER BRANDING : end -->

          <!-- HEADER NAVBAR : begin -->
          <div class="header-navbar">

            <!-- HEADER SEARCH : begin -->
            <div class="header-search">
              <form class="default-form" action="/listings">

                <!-- SEARCH INPUT : begin -->
                <div class="search-input">
                  <i class="ico fa fa-search"></i>
                  <i class="close fa fa-times"></i>
                  <input type="text">
                </div>
                <!-- SEARCH INPUT : end -->

                <!-- SEARCH ADVANCED : begin -->
                <div class="header-form search-advanced">
                  <div class="search-advanced-inner">

                    <!-- TRIP-PICKER : begin -->
                    <p class="form-row clearfix">
                      <span class="calendar-input input-left" title="Arrival">
                        <input type="text" name="arrival" placeholder="When's Your Trip?" data-dateformat="m/d/y">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </p>
                    <!-- TRIP-PICKER : end -->

                    <!-- AMOUNT OF SPORTSMEN SLECTION : begin -->
                    <p class="form-row clearfix">
                      <span class="select-box input-left" title="Sportsman">
                        <select name="sportsman" data-placeholder="How Many Sportsmen?">
                          <option>Sportsman</option>
                          <option value="1">1 Sportsman</option>
                          <option value="2">2 Sportsmen</option>
                          <option value="3">3 Sportsmen</option>
                          <option value="4">4 Sportsmen</option>
                          <option value="5">5+ Sportsmen</option>
                        </select>
                      </span>
                    </p>
                    <!-- AMOUNT OF SPORTSMEN SLECTION : end -->

                    <!-- TYPE : begin -->
                    <p class="form-row textalign-center radio-inputs">
                      <span class="radio-input">
                        <input id="type_swap" type="radio" name="type" value="swap" checked="checked">
                        <label for="type_fishing">Fishing</label>
                      </span>
                      <span class="radio-input">
                        <input id="type_book" type="radio" name="type" value="book">
                        <label for="type_hunting">Hunting</label>
                      </span>
                    </p>
                    <!-- TYPE : end -->

                    <hr class="form-divider">
                    <p class="form-row">
                      <button class="submit-btn button"><i class="fa fa-search"></i> Search</button>
                    </p>

                  </div>
                </div>
                <!-- SEARCH ADVANCED : end -->

              </form>
            </div>
            <!-- HEADER SEARCH : end -->

            <!-- HEADER MENU : begin -->
            <div class="header-menu">
              <button class="header-btn">Menu <i class="fa fa-angle-down"></i></button>
              <nav class="header-nav">
                <ul>

                  <li><%= link_to "About",   about_path %></li>
        
                 <!-- this is the vendor nav options -->
                 <% if logged_in? && User.find_by(id: session[:user_id]).type == "Vendor" %>
                    <li><%= link_to "Account", vendor_path(session[:user_id]) %></li>
                    <li><%= link_to "Add A Listing", new_vendor_listing_path(Vendor.find_by(id: session[:user_id])) %></li>
                    <li><%= link_to "See Your Listings", vendor_listings_path(Vendor.find_by(id: session[:user_id])) %></li>
                  <% end %>

                  <!-- this is the customer nav options -->
                  <% if logged_in? && User.find_by(id: session[:user_id]).type == "Customer" %>
                    <li><%= link_to "Account", customer_path(session[:user_id]) %></li>
                    <li><%= link_to "Book A Listing", listings_path %></li>
                    <li><%= link_to "See Your Past Bookings", customer_bookings_path(session[:user_id]) %></li>
                  <% end %>
                  
                  <li><%= link_to "Contact", contact_path %></li>

                </ul>
              </nav>
            </div>
            <!-- HEADER MENU : end -->

            <!-- HEADER TOOLS : begin -->
            <div class="header-tools">

              
              <% if logged_in? %>
              <div class="header-login">
                <button class="login-toggle header-btn"><i class="fa fa-power-off"></i> <%= link_to("Log out #{User.find_by(id: session[:user_id]).first_name.capitalize}", "/session", method: "delete") %></button>
              
              <% else %>
                  
              <!-- HEADER REGISTER : begin -->
              <div class="header-register">
                <button class="register-toggle header-btn"><i class="fa fa-plus-circle"></i><a href="/users/new">Register</a></button>
              </div>
              <!-- HEADER REGISTER : end -->

              <!-- HEADER LOGIN : begin -->
              <div class="header-login">
                <button class="login-toggle header-btn"><i class="fa fa-power-off"></i> Login</button>
                <div class="header-form">
                  <%= form_tag "/session", {class: 'default-form'} do %>
                    <p class="alert-message warning"><i class="ico fa fa-exclamation-circle"></i> All fields are required! <i class="fa fa-times close"></i></p>
                    <p class="form-row">
                      <input class="required email"  type="text" placeholder="Email">
                    </p>
                    <p class="form-row">
                      <input class="required password"  type="password" placeholder="Password">
                    </p>
                    <p class="form-row">
                      <button class="submit-btn button"><i class="fa fa-power-off"></i> Login</button>
                    </p>
                  <% end %>
                </div>
              </div>
              <!-- HEADER LOGIN : end -->
            <% end %>

            </div>
            <!-- HEADER TOOLS : end -->

          </div>
          <!-- HEADER NAVBAR : end -->

          <!-- SEARCH TOGGLE : begin -->
          <button class="search-toggle button"><i class="fa fa-search"></i></button>
          <!-- SEARCH TOGGLE : end -->

          <!-- NAVBAR TOGGLE : begin -->
          <button class="navbar-toggle button"><i class="fa fa-bars"></i></button>
          <!-- NAVBAR TOGGLE : end -->

        </div>
      </div>
    </header>
    <!-- HEADER : end -->

<%= yield %>

<!-- FOOTER : begin -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">

            <!-- FOOTER TEXT : begin -->
            <p>Copyright 2013 &copy; Tapio. All rights reserved.</p>
            <!-- FOOTER TEXT : end -->

          </div>
          <div class="col-sm-4">

            <!-- FOOTER SOCIAL : begin -->
            <ul class="footer-social custom-list">
              <li><a href="" title="Facebook"><i class="fa fa-facebook-square"></i><span>Facebook</span></a></li>
              <li><a href="" title="Twitter"><i class="fa fa-twitter-square"></i><span>Twitter</span></a></li>
              <li><a href="" title="Google+"><i class="fa fa-google-plus-square"></i><span>Google+</span></a></li>
              <li><a href="" title="LinkedIn"><i class="fa fa-linkedin-square"></i><span>LinkedIn</span></a></li>
              <li><a href="" title="Pinterest"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
            </ul>
            <!-- FOOTER SOCIAL : end -->

          </div>
        </div>
      </div>
    </footer>
    <!-- FOOTER : end -->

</body>
</html>
