<!DOCTYPE html>
<html>
<head>
  <title>Tapio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <nav>
        <ul>
          <li><%= link_to "About",   about_path %></li>
        
         <!-- this is the vendor nav options -->
         <% if logged_in? && User.find_by(id: session[:user_id]).type == "Vendor" %>
            <li><%= link_to "Account", vendor_path(session[:user_id]) %></li>
            <li><%= link_to "Add A Listing", new_vendor_listing_path(Vendor.find_by(id: session[:user_id])) %></li>
            <li><%= link_to "See Your Listings", vendor_listings_path(Vendor.find_by(id: session[:user_id])) %></li>
          <% end %>

          <!-- this is the customer nav options -->
          <% if logged_in? && User.find_by(id: session[:user_id]).type == "Customer" %>
            <li><%= link_to "Account", customer_path(session[:user_id]) %></li>
            <li><%= link_to "Book A Listing", listings_path %></li>
            <li><%= link_to "See Your Past Bookings", customer_bookings_path(session[:user_id]) %></li>
          <% end %>
          
          <li><%= link_to "Contact", contact_path %></li>

          <!-- this is the generic login/out nav options -->
          <% if logged_in? %>
            <li><%= link_to("Log out #{User.find_by(id: session[:user_id]).first_name.capitalize}", "/session", method: "delete") %></li> 
          <% else %>
            <li><%= link_to "Create Account", new_user_path %></li>
            <li><%= link_to("Log In","/login") %></li>
          <% end %>
        </ul>
      </nav>
      <section id="branding">
        <a href="<%= root_path %>"><%= image_tag("") %></a>
      </section>
    </header>
<%= yield %>

</body>
</html>
